/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #ccffcc; /* Light green background */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.form-wrapper {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #004d40;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    text-align: left;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"],
button {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

button {
    background-color: #004d40;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #00332c;
}

p {
    margin-top: 10px;
}

a {
    color: #004d40;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
